*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

main{
  width: 100vw;
  height: 90vh;
}
.navbar{
  width: 100%;
  height: 100px;
  background-color: #282828;
  color:#989898;
  position: fixed;
  z-index: 2;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 250px ;
}

.search{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

aside{
  width: 250px;
  height: 100%;
  background-color: #282828;
  color:#787878;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  padding-bottom: 150px;
}
aside img{
  max-width: 200px;
  height: auto;

}

aside ul li{
  list-style: none;
  padding: 10px;

}
aside ul li:hover{
  color: white;
}

.nowplaying{
margin-left: 20px;



}
.nowplaying span img{
  width: 150px;
  height: 150px;
}
section{
  /* width: 100%; */
  padding: 150px 0 0 300px;
  position: relative;
  /* left:200px; */
  top:100px;
  background-color: #534b5e;
  color:white;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
 h3{
  line-height: 80px;
  padding: 40px 60px;
}
.musicsection{
  padding: 40px 30px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

}
.musicsection span{
  padding: 20px 30px;

}
.musicsection span a:hover{

  background-image: radial-gradient(black gray);
}
.musicsection p{
  padding: 20px 30px;
  align-items: center;
}
.circle img{
  border-radius: 50%;
}

footer{
  width: 100%;
  height: 20%;
  background-color: #282828;
  color:white;
  position: fixed;
  top:80%;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
.musicplayer{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icons{
  width: 60%;
  display:flex;
  justify-content: space-between;
}
.slidecontainer {
  width: 100%;
  padding-top: 20px;
  }
  .time{
  /* width: 100%; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 80%; /* Full-width */
  height: 5px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;

}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 5px; /* Slider handle height */
  background: #282828;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  background: #282828;
  cursor: pointer; /* Cursor on hover */
}
