*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: sans-serif;
}

main{
  width: 100vw;
  height: 90vh;

}
.navbar{
  width: 100%;
  height: 70px;
  background-color: #282828;
  color:#989898;
  position: fixed;
  z-index: 2;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px 0 250px ;
}

.search{
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.search input{
  width: 200px;
  height: 30px;
  border-radius: 30px;
}

#menubar {
  position: fixed;
  z-index: 2;
  display:flex;
  justify-content: flex-start;
  padding: 30px 0 0 180px ;
  color:#989898;
}
#menubar a{
  font-size: 40px;
  color:#989898;
}

#menulist{
  display: none;

}

#menubar a:hover #menulist{
  display: block;

}
#menulist ul li{
  list-style: none;
  text-decoration: none;
}
@media screen and (max-width:800px) {
  .navbar{
    display:none;
  }

}
@media screen and (min-width:801px) {
  #menubar{
    display:none;
  }

}


.expanded{
  width: 250px;
  height: 100%;
  background-color: #282828;
  color:#787878;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  padding: 20px 0 150px 10px;

}
.expanded img{
  max-width: 200px;
  height: auto;

}

.expanded ul li {

  list-style: none;
  padding: 10px;
  margin-left: 20px;
}
.expanded ul li a{
  text-decoration: none;
  color: #787878;
}
.expanded ul li a:hover{
  color: white;
}

.nowplaying{
margin-left: 20px;




}
.nowplaying span img{
  width: 150px;
  height: 150px;
}
.compact{
  width: 150px;
  height: 100%;
  background-color: #282828;
  color:#787878;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  padding: 20px 0 150px 10px;
}

.compact img{
  width: 80px;
  height: auto;

}

.compact ul li {

  list-style: none;
  padding: 10px;
  margin-left: 20px;
}
.compact ul li a{
  text-decoration: none;
  color: #787878;
}
.compact ul li a:hover{
  color: white;
}






}
.nowplayingcomp span img{
  width: 150px;
  height: 150px;
}



@media screen and (max-width:800px) {
  .expanded{
    display:none;
  }

}
@media screen and (min-width:801px) {
  .compact{
    display:none;
  }

}



section{
  padding: 50px 0 0 300px;
  position: relative;
  background-color: #534b5e;
  color:white;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
 h3{
  line-height: 80px;
  padding: 40px 60px;
}
.musicsection{
  padding: 40px 30px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

}
.musicsection span{
  padding: 20px 30px;

}


.musicsection p{
  padding: 20px 30px;
  align-items: center;
}
.musicsection img{
  width: 200px;
  height: 200px;
}

.play-hover{
  display: none;
}

.musicsection span a:hover .play-hover{
  display:inline;
  position: absolute;
  transform: translate(0, -100%);

}



.circle img{
  border-radius: 50%;
}

footer{
  width: 100%;
  height: 20%;
  background-color: #282828;
  color:white;
  position: fixed;
  top:80%;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
.title h6{
  line-height: 30px;
}
.musicplayer{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icons{
  width: 60%;
  display:flex;
  justify-content: space-between;
}
.slidecontainer {
  width: 100%;
  padding-top: 20px;
  }
  .time{
  /* width: 100%; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 80%; /* Full-width */
  height: 5px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;

}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 5px; /* Slider handle height */
  background: #282828;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  background: #282828;
  cursor: pointer; /* Cursor on hover */
}


.volume{
  width: 10%;
  display:flex;
  justify-content: flex-end;
  align-items: center;

}

.volume span{
  padding: 10px;

}
.slider #volumebar{
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 50%;
  height: 5px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;

}
#volumebar::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 5px; /* Set a specific slider handle width */
  height: 5px; /* Slider handle height */
  background: green;
  cursor: pointer; /* Cursor on hover */
}

#volumebar::-moz-range-thumb {
  width: 5px; /* Set a specific slider handle width */
  height: 5px; /* Slider handle height */
  background: green;
  cursor: pointer; /* Cursor on hover */
}


@media screen and (max-width:800px) {
  .musicplayer{
    width: 300px;
  }
}
